*{
text-transform: capitalize;
}
.login-con{
    background: url("./src/images/login.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.login-form{
 background-color: white;
 padding: 25px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 border-radius: 10px;
 width: 500px;
 height: 350px;
}
.f-pass{
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 14px;
    font-weight: 500;
    margin-left: 75%;
}
.btn{
    margin-top: 5px;
}
p{
    color: rgb(75, 71, 71);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.register{
    color: black;
    margin-bottom: 0;
}
