.banerdiv{
    position: relative;
}
.banerdiv img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.overlay{
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: center;
}
.banner-title{
    color: white;
}